.section-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.services .service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3.5rem;
}
