.about {
  max-width: 100rem;
  margin: 0 auto;
}

.about .image {
  text-align: center;
}

.about h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 4rem 0;
}

.about p {
  font-size: 1.7rem;
  line-height: 3rem;
  text-transform: none;
}
