.header {
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .name {
  font-size: 2.5rem;
  font-weight: 600;
}

.header nav {
  margin-left: auto;
}

.header nav .nav-link {
  font-size: 2.2rem;
  margin-left: 2rem;
  color: #000;
}

.header .menu {
  font-size: 2.5rem;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

/* media quearies */
@media (max-width: 800px) {
  .header .menu {
    display: block;
  }

  .header nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.2s linear;
  }

  .header nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header nav .nav-link {
    color: black;
    text-align: center;
    margin: 1rem 0;
    display: block;
  }
}
