.app .header {
  padding: 2rem 9%;
}

.app .pages > * {
  padding: 5rem 9%;
}

/* media quearies */
@media (max-width: 1024px) {
  .app .header {
    padding: 2rem 5%;
  }

  .app .pages > * {
    padding: 5rem 5%;
  }
}

@media (max-width: 800px) {
  .app .header {
    padding: 2rem 3rem;
  }

  .app .pages > * {
    padding: 5rem 3rem;
  }
}

@media (max-width: 450px) {
  .app .header {
    padding: 2rem;
  }

  .app .pages > * {
    padding: 5rem 2rem;
  }
}
